<section>
  <div class="width-75">
    <h1 class="text-5xl">
      <span class="kepler italic">
        Hi there! I'm Ims, a <span class="kepler bold italic">
        <span class="underline" annotationDelay="1000">Full-stack
        Developer</span></span> based in <span class="kepler bold italic">The
        Hague, Netherlands.</span>
      </span>
    </h1>
    <p class="text-xl">
      I love making tools that are user-friendly, visually appealing, and never back
      down from a challenge. Specializing in front-end architecture, user experience, and conversion optimization,
      I strive to build applications that not only function but drive results.
    </p>

    <app-button
    class="btn-link underline"
    label="Look at my skills"
    type="link"
    link="#skills-section"
    [withIcon]="true"
    iconSize="xs"
    customClasses="text-xl text-color-primary"
    annotationPadding="0"
    annotationDelay="2000"
    ></app-button>

  </div>

  <div class="height-50"></div>

  <div class="card-layout">
    <h2 class="text-3xl mb-0">
      <span class="kepler bold italic" annotationPadding="-5">Projects</span>
    </h2>
    <app-card-layout-2x2></app-card-layout-2x2>
  </div>

  <div class="height-50"></div>

  <div id="skills-section" class="skills-section">
    <h2 class="text-3xl mb-0">
      <span class="kepler bold italic underline" annotationPadding="-5">Core development skills</span>
    </h2>
      <ul class="text-m mt-2">
        <li><strong>Languages:</strong> JavaScript, TypeScript, HTML5, CSS3, PHP</li>
        <li><strong>Frameworks/Libraries:</strong> Angular, Vue, Next.js, Tailwind CSS, Framer Motion, Three.js</li>
        <li><strong>CMS:</strong> HubSpot CMS, WordPress, Sanity</li>
        <li><strong>APIs:</strong> REST, GraphQL</li>
        <li><strong>Databases:</strong> MongoDB, MySQL</li>
      </ul>

    <h2 class="text-3xl mb-0">
      <span class="kepler bold italic underline" annotationPadding="-5">Optimization & Analytics</span>
    </h2>
    <ul class="text-m mt-2">
      <li><strong>CRO & SEO:</strong> Conversion Optimization (CRO), Technical SEO, Lighthouse Audits</li>
      <li><strong>Data Analytics:</strong> PostHog, Google Analytics, Google Tag Manager (GTM)</li>
      <li><strong>A/B Testing:</strong> Running & implementing A/B experiments</li>
    </ul>

    <h2 class="text-3xl mb-0">
      <span class="kepler bold italic underline" annotationPadding="-5">Creative & Design Workflow</span>
    </h2>
    <ul class="text-m mt-2">
      <li><strong>Adobe Creative Cloud:</strong> Photoshop, Illustrator, After Effects</li>
      <li><strong>Collaboration:</strong> Figma, Zeplin, Bugherd, Monday</li>
    </ul>
  </div>

  <div class="height-50"></div>

</section>
