<section class="component-container mt-8">
    <div class="layout-flex">
        <div class="card-border-wrap">
            <div class="card">

            </div>
        </div>
        <div class="card-border-wrap">
            <div class="card">
                
            </div>
        </div>
        <div class="card-border-wrap">
            <div class="card">
                
            </div>
        </div>
        <div class="card-border-wrap">
            <div class="card">
                
            </div>
        </div>
    </div>
</section>