<section class="component-container mt-4">
    <div class="layout-flex">
        <div class="card-border-wrap">
            <div class="card">
                <img src="../../../../assets/img/JEX-portfolio-screenshot.png" />
            </div>
        </div>
        <div class="card-border-wrap">
            <div class="card">
                <img src="../../../../assets/img/Refreshworks-portfolio-screenshot.png" />
            </div>
        </div>
        <div class="card-border-wrap">
            <div class="card">
                
            </div>
        </div>
        <div class="card-border-wrap">
            <div class="card">
                
            </div>
        </div>
    </div>
</section>